// == START OF HIREING 04 ==

mixin job(title, qualifications, date, link, category)
  li(data-category=category, class='filtr-item', target='_brank')
    a(href=link)
      .left-col
        .job-title #{title}
        .qualifications #{qualifications}
        .update-date #{date}
      //- .right-col
      //-   .label #{label1}
      //-   .label #{label2}

.hireing.hireing-04
  .hireing__title-box
    h2.hireing__title
      | 來吧~加入我們!
    span.hireing__description
      | 一個簡單的團隊，希望成就不簡單的事，期待遇見同樣的你。
  .container
    .job-category
      nav.filter
        ul.team__filter-tags
          li.job-category-item
            .job-category-item-link(data-filter='all', class='js-filtering-button state-active')
              | 全部
          li.job-category-item
            .job-category-item-link(data-filter='1', class='js-filtering-button')
              | 監控系統
          li.job-category-item
            .job-category-item-link(data-filter='2', class='js-filtering-button')
              | 區塊鏈
          li.job-category-item
            .job-category-item-link(data-filter='3', class='js-filtering-button')
              | 台北
          //- li.job-category-item
          //-   .job-category-item-link(data-filter='4', class='js-filtering-button')
          //-     | 北京
    //- .count
    //-   .count-text
    //-     | 開放職缺
    //-     span.count-number
    //-       | 7
    .content.hireing-job
      ul.filtr-container
        +job('軟體工程師 - 監控系統', 'Senior', '最後更新 2017.06.16', '//www.104.com.tw/job/?jobno=53qe6&jobsource=n104bank1', '1, 3')
        +job('軟體工程師 - Front End', 'Senior', '最後更新 2017.06.16', '//www.104.com.tw/job/?jobno=53qe0&jobsource=n104bank1', '1, 3')
        +job('軟體工程師 - Blockchain', 'Junior', '最後更新 2017.06.16', '//www.104.com.tw/job/?jobno=5hf1x&jobsource=n104bank1', '2, 3')
        +job('軟體工程師 - 暑期實習生', 'Intern', '最後更新 2017.06.16', '//www.104.com.tw/job/?jobno=5h84y&jobsource=n104bank1', '1, 3')
        +job('資深軟體工程師 - Blockchain', 'Senior', '最後更新 2017.06.16', '//www.104.com.tw/job/?jobno=53xro&jobsource=n104bank1', '2, 3')
        +job('架構師 - Blockchain', 'Senior', '最後更新 2017.06.16', '//www.104.com.tw/job/?jobno=5cn2o&jobsource=n104bank1', '2, 3')
        +job('資深軟體工程師 - 監控系統', 'Senior', '最後更新 2017.06.16', '//www.104.com.tw/job/?jobno=53qe7&jobsource=n104bank1','1, 3')

// == END OF HIREING 04 ==
