// == START OF HIREING 04 ==

mixin job(title, qualifications, date, label1, label2)
  li
    .left-col
      .job-title #{title}
      .qualifications #{qualifications}
      .update-date #{date}
    .right-col
      .label #{label1}
      .label #{label2}

.hireing.hireing-04
  .hireing__title-box
    h2.hireing__title
      | 來吧~加入我們!
    span.hireing__description
      | 一個簡單的團隊，希望成就不簡單的事，期待遇見同樣的你。
  .container
    .row
      .job-category
        nav.filter
          ul
            li.job-category-item
              .job-category-item-link
                | 全部
            li.job-category-item
              .job-category-item-link
                | 監控系統
            li.job-category-item
              .job-category-item-link
                | 區塊鏈
            li.job-category-item
              .job-category-item-link
                | 台北
            li.job-category-item
              .job-category-item-link
                | 北京
      .count
        .count-text
          | 開放職缺
          span.count-number
            | 6
      .content.hireing-job
        ul
          +job('軟體工程師 - Front End', 'senior', '最後更新 2017.06.16', 'react', 'vue2')
          +job('軟體工程師 - Blockchain', 'senior', '最後更新 2017.06.16', '', '')
          +job('軟體工程師 - 分佈式監控系統', 'senior', '最後更新 2017.06.16', '', '')
          +job('軟體工程師 - SRE', '', '最後更新 2017.06.16', 'react', 'vue2')
          +job('軟體工程師 - 實習', 'Intern', '最後更新 2017.06.16', 'react', 'vue2')
          +job('UI/UX 設計師 - 實習', 'Intern', '最後更新 2017.06.16', 'react', 'vue2')

// == END OF HIREING 04 ==
